.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #167fc5; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.foot {
  background-color: #222222;
  color: white;
  margin-top: 300px;
  margin-bottom: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 0px;
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
  padding-right: 0px;
  bottom: 0;
  width: 100%;
}

.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}

.container {
  padding: 0% 8.5% 0%;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 1.5rem;
  font-weight: bold;
}
#title {
  background-color: #5f34b6;
  color: #fff;
}

.container-fluid {
  display: flex;
  padding: 3% 15% 7%;
}

.title-image {
  width: 93%;
  position: absolute;
}

/* Testimonial Section */
#testimonials {
  /* text-align: center; */
  background-color: #ede3fa;
  color: #040202;
}

.carousel-item {
  padding: 7% 15%;
}

.para {
  font-size: larger;
}

@media (max-width: 1032px) {
  .navbar-brand {
    font-size: 1rem;
  }
  .title-image {
    position: static;
    /* transform: rotate(0); */
    width: 60%;
  }
  #title {
    text-align: center;
  }
}
